// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';


body {
    font-family: 'Nunito', sans-serif;
    color: $primaryTextColor !important;
}

.navbar-logo{
    height: 40px;
}

.power-logo{
    height: 24px;
    display: inline-block;
}
